<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"><%= header %></h4>
  </div>
  <div class="card-body">
   <%= body %>
   <br>
   <a href="/playlist/<%= link %>"><button type="button" class="btn btn-outline-primary">Playlist</button></a>
  </div>
</div>
