<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<div class="container">

  <h3> Welcome <%= name %> </h3>
  <p> Now you can add Songs to your account by clicking <a href="/add"><button type="button" class="btn btn-success">Add</button></a> </p>


 <a class="badge badge-danger" href="/logout">Logout</a>

<div>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>
