<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

<div class="container-fluid  p-3">
<p class="center">Login To Add Billboard to your Spotify Playlist</p>
<form action="login">
<input type="submit" class="btn btn-success btn-lg btn-block" value="Login With Spotify">
</form>
</br>
<div>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>
